{% extends 'trrsywxBundle:Default:index.html.twig' %}
{% set active=3 %}

{% block title %}
<title>RSYWX | Readings | Page {{page}}</title>
{% endblock %}

{% block content %}
<div class="container">
<div class="row">
    <div class="col-md-9">
        <h2>My Readings<small></small></h2>
    </div>
    <div class="col-md-3">
        <h3>第{{cur}}页，共{{total}}页</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-striped">
            <tbody>
                <tr>
                    <td><strong>Cover</strong></td>
                    <td><strong>Title</strong></td>
                    <td><strong>Author</strong></td>
                    <td><strong>TAG</strong></td>
                    <td><strong>Location</strong></td>
                </tr>
        {% for reading in res %}
        {% set book=reading.getBookid %}
                <tr>
                    <td rowspan="2"><img src="{{path("cover", {'id':book.id, 'author':book.author, 'title':book.title, 'width':200}) }}" alt="{{book.title}}'s cover" title="{{book.title}}'s cover"/></td>
                <td><a href="{{path('book_detail', {'id':book.id})}}">{{book.title}}</a></td>
                    <td>{{book.author}}</td>
                    <td>{% render (controller('trrsywxBundle:Book:tagsbyid', {'id': book.id})) %}</td>
                    <td>{{book.location}}</td>
                
                <tr>
                    <td colspan="4">{% render (controller("trrsywxBundle:Reading:reviewList", {'hid': reading.id}))%}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
</div>
        
<div class="row">
    <div class="col-md-6">
        <div class="pager">
            <ul>
            <li class="previous"><a href="{{path('reading_list', {'page':1})}}">First</a></li>
                {%if cur==1%}
            <li class="previous disabled"><a href="{{path('reading_list', {'page':cur-1})}}">Prev</a></li>
                {%else%}
            <li class="previous"><a href="{{path('reading_list', {'page':cur-1})}}">Prev</a></li>
                {%endif%}
                {%if cur==total%}
            <li class="previous disabled"><a href="{{path('reading_list', {'page':cur})}}">Next</a></li>
                {%else%}
            <li class="previous"><a href="{{path('reading_list', {'page':cur+1})}}">Next</a></li>
                {%endif%}
            <li class="previous"><a href="{{path('reading_list', {'page':total})}}">Last</a></li>
            </ul>
        </div>
    </div>
</div>
        </div>
{% endblock %}
